Clyther==development
Cython==0.18
DateUtils==0.6.5
Flask==0.9
Jinja2==2.6
PIL==1.1.7
Pillow==2.3.0
PyOpenGL==3.0.2
PyYAML==3.10
Pygments==1.6
SQLAlchemy==0.8.3
SimpleCV==1.3
Sphinx==1.1.3
Theano==0.6.0
Werkzeug==0.8.3
argparse==1.2.1
awscli==1.2.13
bcdoc==0.12.1
botocore==0.33.0
bzr==2.6.0
colorama==0.2.5
cube-client==0.1
disco==0.5.3
docutils==0.11
dropbox==2.1.0
epydoc==3.0.1
google-api-python-client==1.1
httplib2==0.8
ipython==1.1.0
jmespath==0.2.1
mahotas==0.9.7
matplotlib==1.3.0
mercurial==2.7
meta==-
mlpy==3.5.0
mysql-connector-python==1.1.4
newrelic==2.6.0.5
nltk==2.0.4
nose==1.3.0
numpy==1.8.0
opencl-for-python==0.5.2
pandas==0.10.1
pgxnclient==1.2
ply==3.4
psycopg2==2.5.1
pyaml==13.07.1
pyasn1==0.1.7
pybloomfiltermmap==0.3.11
pygame==1.9.2pre
pylearn2==0.1dev
pyparsing==2.0.1
python-cdb==0.35
python-dateutil==2.1
python-gflags==2.0
pytz==2013b
pyzmq==13.0.0
requests==1.1.0
rsa==3.1.2
scikit-image==0.8.2
scikit-learn==0.13.1
scipy==0.13.0.dev-c055543
selenium==2.42.1
simplejson==3.1.2
six==1.2.0
stevedore==0.11
tornado==2.4.1
urllib3==1.8.3
vboxapi==1.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
