<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<p>Create labels</p>
<form method="POST" action="/admin/labels">
    <table border="1">
        {% for dt in ['nodes', 'bars', 'force_nodes', 'force_bars'] %}
        <tr>
            <td>{{dt}}</td>
            {% for tag, vals in data_keys[dt]|dictsort %}
            <td><input type="radio" name="{{dt}}-tag" value="{{tag}}">{{tag}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    Input Label: <input type="text" name="input_label">
    <br>
    <input type="submit"/>
</form>

<p>Select labels for view</p>
<form method="POST" action="/admin/labels_select">
    <table border="1">
        <tr><th>Label</th><th>Nodes</th><th>Bars</th><th>Force Nodes</th><th>Force Bars</th></tr>
        {% for dt in labels %}
        <tr>
            <td><a href="/admin/labels_select?label={{dt}}">{{dt}}</a></td>
            {% for tag in ['nodes', 'bars', 'force_nodes', 'force_bars'] %}
             <td>{{labels[dt][tag]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>

<p>Rename labels</p>
<form method="POST" action="/admin/labels_rename">
    <select name="label_old_name">
        {% for dt in labels %}
         <option value="{{dt}}">{{dt}}</option>
        {% endfor %}
        New Name: <input type="text" name="label_new_name"/>
    </select>
    <input type="submit" value="Change name">
</form>



</div>
</body>
</html>
