<!DOCTYPE html>
<html lang="en">
   <head>
       <title>Analysis Display</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
       <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
       <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
   </head>

   <body>
       <div id="info">Vibration Tool: Response Factors</div>
       <div id="pacefreq">Pace Frequency = <b> __</b> Hz, Response Factor Analysis Type = <b>Max</b></div>
       <div id="container"></div>
               <div id="datguiContainer">
       </div>

       <div id="data_label" hidden="true">{{label_names}}</div>
        <script src='/static/js/three.js'></script>
        <script src='/static/js/jquery.min.js'></script>
        <script src='/static/js/TrackballControls.js'></script>
        <script src='/static/js/dat.gui.js'></script>
        <script src='/static/js/Detector.js'></script>
        <script src='/static/js/WebGLRenderer.js'></script>
        <script src='/static/js/stats.min.js'></script>
        <script src='/static/js/chroma.min.js'></script>

       <script type="x-shader/x-vertex" id="vertexshader">

           attribute float size;
           attribute vec3 customColor;

           varying vec3 vColor;

           void main() {

               vColor = customColor;

               vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

               //gl_PointSize = size;
               gl_PointSize = size; // * ( 50.0 / length( mvPosition.xyz ) );

               gl_Position = projectionMatrix * mvPosition;

           }

       </script>

       <script type="x-shader/x-fragment" id="fragmentshader">

           uniform vec3 color;
           uniform sampler2D texture;

           varying vec3 vColor;

           void main() {

               gl_FragColor = vec4( color * vColor, 1.0 );
               gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

           }

       </script>

 <script type="text/javascript" src="/static/js/app_3.js"></script>
 <script type="text/javascript" src="/static/js/app_websocket.js"></script>
</body>
</html>
