<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Data Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
     <script type="text/javascript" src="/static/js/mydatasocket.js"></script>
</head>
<body>
    <h2>Nodes</h2>
    <div id="nodes_log"></div>
    <h2>Bars</h2>
    <div id="bars_log"></div>
    <h2>Mesg</h2>
    <div id="mesh_log"></div>
    <h2>Analysis Nodes</h2>
    <div id="analysis_nodes_log"></div>
    <h2>Analysis Axialforces</h2>
    <div id="analysis_axialforces_log"></div>
</body>
</html>
