<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Data Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
     <script type="text/javascript" src="https://rawgit.com/cwilkes/aec-analysis/master/static/js/mydatasocket.js"></script>
</head>
<body>
<a href="/app">Demo app</a>
    <h2>Nodes</h2>
    <div id="nodes_log"></div>
    <h2>Bars</h2>
    <div id="bars_log"></div>
    <h2>Analysis Nodes</h2>
    <div id="force_nodes_log"></div>
    <h2>Analysis Axialforces</h2>
    <div id="force_bars_log"></div>
</body>
</html>
